$colorWhite: #FFFFFF;
$colorBackground: #242424;
$colorFont: #202020;
$colorFormInput: #A2A2AF;
$colorForm: #F9F9FB;
$colorError: #ea3030;
$colorInputBorders: #dfdfe4;
$colorInputHover: darken($colorInputBorders, 10%);
$colorGreen: #1cd4a3;
$colorBlue: #531fc0;